.a-card.a-card_recipe
    .header.header_bold
        .header__title
            p.a-card__title.a-card__title_upercase Home-made
            p.a-card__title Apple pie
    .main
        ul.main__menu
            li.settings Settings
            li.location Location
            li.favourite Favourite
            li.food Food