.a-card.a-card_location
    .header.header_thin
        .header__title.a-card__title_upercase Location
    .main
        .locality
            .locality_title
                img(src="images/loc.png")
                | San Francisco
            .locality_check
                img(src="images/check.png")
form.buttons
    button.but.but_1.a-card__title_upercase Button
    button.but.but_2.a-card__title_upercase Button
    button.but.but_3.a-card__title_upercase Button
    button.but.but_4.a-card__title_upercase Button
