* {
    /* font-family: "ProximaNova-Regular"; */
     color: rgb(255, 255, 255);
 }
 
 body {
     background: url(../images/bg.png) no-repeat;
     background-size: cover;
     background-color: blueviolet;
     
 }
 
 .a-card {
     border-radius: 10px;
     overflow: hidden;
     background-color: rgba(255,255,255, 0.2);
     border: 1px solid rgba(255,255,255, 0.1);
     margin-top: 20px;
 }
 .a-card__title_upercase{
     text-transform: uppercase;
 }
 
 .a-card__title{
     font-size: 17px;
     line-height: normal;
     text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.004);
     margin-left: 10px;
 }
 .a-card__title:first-of-type{
     margin-bottom: 0;
     font-weight: bold;
 }
 
 .header_thin,
 .a-card_login .footer{
     background-color: #6e6ab1;
     height: 50px;
     width: 100%;
     margin: 0 auto;
     display: flex;
     justify-content: center;
     align-items: center;
     
 }
 
 .a-card._profile > .header-thin{
     background-color: #b47859;
 }

 .a-card_profile .main__photo > div{
     padding: 10px;
     margin: 30px 0;
 }
 .a-card_profile .main__photo{
     background: url(../images/bg-photo.png) no-repeat;
     background-size: cover;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     height: 100%;
     width: 100%;
 }
 .a-card_profile .main{
     display: flex;
     flex-direction: column;
 }
 .a-card_profile .p-profile{
     background: url(../images/photo.png) no-repeat;
     height: 90px;
     width: 90px;
 }
 .a-card_profile .info img{
     height: 13px;
     width: 10px;
     margin-top: -4px;
 }
 
 .a-card_profile .main__follows{
     display: flex;
     justify-content: space-around;
     margin: 20px;
 
 }
 .a-card_profile .follows__block{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
 }
 
 ._amount{
     font-size: 30px;
 }
 .a-card_profile .follows__block_following{
     border-right: 1px solid rgba(255,255,255, 0.4);
 }
 .main__button-follow{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .main__button-follow > input{
     border: 1px solid rgba(255,255,255, 0.4);
     border-radius: 10px;
     background-color: rgba(255,255,255, 0.4);
     height: 50px;
     width: 100%;
     margin: 0 10% 5%;
     
 }
 .main__button-follow > input:focus{
     border: 1px solid rgba(255,255,255, 0.4);
     outline:none;
 }
 .main__button-follow > input:hover{
     transform: scale(0.9);
     transition-duration: 0.3s;
 }