extends ../components/layout/layout.pug

block hui
    .container
        .row
            .col-xs-12.col-sm-6.col-md-6.col-lg-4
                include ../components/recipe/recipe.pug
            .col-xs-12.col-sm-6.col-md-6.col-lg-4
                include ../components/login/login.pug
            .col-xs-12.col-sm-6.col-md-6.col-lg-4
                include ../components/profile/profile.pug
            .col-xs-12.col-sm-6.col-md-6.col-lg-4
                include ../components/location/location.pug
