extends ../components/layout/layout.pug

block hui
    .container
        .row
            .col-xs-12.col-sm-6.col-md-6.col-lg-4
                include ../components/recipe/recipe.pug
            .col-xs-12.col-sm-6.col-lg-4
                include ../components/login/login.pug
            .col-xs-12.col-sm-6.col-lg-4
                .a-card.a-card_profile
                    .header.header_thin
                        .header__title.a-card__title_upercase Profile
                    .main
                        .main__photo
                            .p-profile
                        .info
                            div John Doe
                            div
                                img(src="..//images/loc.png")
                                | New York, NY
                        .main__follows
                            .follows__block.follows__block_following
                                ._title Following
                                ._amount 345
                            .follows__block.follows__block_followers
                                ._title Followers
                                ._amount 498
                        .main__button-follow
                            input(type="submit" name="follow" value="FOLLOW")