.a-card.a-card_login
    .header.header_thin
        .header__title.a-card__title_upercase Login
    .main
        form(name='info_log-pass').main__form
            label(for="e-m") Email
            input(type="email" id="e-m" name="email").form__input.form__input_email
            br
            label(for="pas") Password
            input(type="password" id="pass" name="pass").form__input.form__input_pas
        .main__span-line
            span Or
    .footer
        .footer__social-media
            .tw
            .goog
            .fb